/* 
 * put your variables here
 */

$breakpoint_tablet: 40em;
$breakpoint_desktop: 60em;

$anim_spd: 0.2s;

$color_bg : #FFFFFF;
$color_hl1: #F9F1B5;
$color_hl2: #A6D8DE;
$color_light: #FFFFFF;
$color_dark: #3E50B4;

$color_error: red;
$color_success: green;

.group:after, li, ul {
	content: "";
	display: table;
	clear: both;
}