/* 
 * put your variables here
 */

$breakpoint_tablet: 40em;
$breakpoint_desktop: 60em;

$anim_spd: 0.2s;

$color_bg : #FFFFFF;
$color_hl1: #F9F1B5;
$color_hl2: #A6D8DE;
$color_light: #DDDAD6;
$color_dark: darken($color_light, 60%);

$color_error: red;
$color_success: green;

.group:after {
	content: "";
	display: table;
	clear: both;
}