/* 
 *	Place the scss code for your mobile layout here
 */

body, .map-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.map-container {
	box-shadow: 0 0.6em 2.5em 0 rgba(0, 0, 0, 0.6);
}

.sidebar-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 16em;
}

header {
	position: relative;
	z-index: 999;
	background-color: $color_dark;
	color: $color_light;
	height: 3em;
	box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3);
}

#map-canvas {
	position: absolute;
	top: 3em;
	bottom: 0;
	width: 100%;
	min-height: 20em;
	background-color: darken($color_light, 8%);
}

#search {
	position: absolute;
	width: 100%;
	top: 5em;
	z-index: 999;
}

#results {
	position: absolute;
	top: 5em;
	right: 2em;
	width: 16em;
	max-height: calc(100% - 7em);
	z-index: 999;
}

.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
}