/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, button {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none; }

::-webkit-input-placeholder {
  line-height: normal; }

/* 
 * put your variables here
 */
.group:after, li, ul {
  content: "";
  display: table;
  clear: both; }

/* 
 *	Place the scss code for your mobile layout here
 */
body, .map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.map-container {
  box-shadow: 0 0.6em 2.5em 0 rgba(0, 0, 0, 0.6); }

.sidebar-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 16em; }

header {
  position: relative;
  z-index: 999;
  background-color: #3E50B4;
  color: #FFFFFF;
  height: 3em;
  box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3); }

#map-canvas {
  position: absolute;
  top: 3em;
  bottom: 0;
  width: 100%;
  min-height: 20em;
  background-color: #ebebeb; }

#search {
  position: absolute;
  width: 100%;
  top: 5em;
  z-index: 999; }

#results {
  position: absolute;
  top: 5em;
  right: 2em;
  width: 16em;
  max-height: calc(100% - 7em);
  z-index: 999; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* 
 *	Place the scss code for your tablet layout here
 */
@media only screen and (min-width: 40em) { }

/* 
 *	Place the scss code for your desktop layout here
 */
@media only screen and (min-width: 60em) { }

/* 
	Put every typographic related stuff (font, font sizes, line-height etc.) here.
*/
body {
  font-family: 'Roboto', sans-serif; }

/* 
 *	Place the scss code for your modules here
 */
header {
  padding: 0.5em 1.5em; }
  header h1 {
    float: left;
    font-size: 1.6em; }
    header h1 i {
      margin-right: 0.5em; }

.map-controls {
  float: right; }
  .map-controls button {
    height: 2em;
    float: left;
    padding: 0.4em;
    border: 1px solid #344496;
    -webkit-transition: background-color ease 0.2s;
            transition: background-color ease 0.2s; }
  .map-controls button:hover, .map-controls button.active {
    background-color: #5668c5; }
  .map-controls button:first-of-type {
    margin-right: 0.5em; }
    .map-controls button:first-of-type i {
      margin-right: 0.5em; }
  .map-controls button:last-of-type {
    padding: 0 0.5em; }

.release-info {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: 1em;
  background-color: #3E50B4;
  color: #FFFFFF; }
  .release-info a {
    color: #cccccc; }
  .release-info i {
    float: right;
    display: block;
    cursor: pointer;
    color: red; }

#search {
  text-align: center;
  font-size: 0.9em; }
  #search form {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #FFFFFF;
    color: #3E50B4;
    box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3);
    height: 3em; }
  #search input {
    color: inherit;
    float: left;
    display: block;
    height: 100%;
    width: 34em;
    padding-left: 1em;
    border: 1px solid #ffffff;
    -webkit-transition: border-color 0.2s;
            transition: border-color 0.2s; }
    #search input:hover, #search input:focus {
      border-color: #3E50B4; }
  #search .search-options {
    height: 100%;
    position: absolute;
    right: 3em; }
  #search select {
    color: inherit;
    font: inherit;
    padding: 0;
    outline: 0;
    border: none;
    height: calc(100% - 2px);
    float: left;
    display: block;
    background-color: #FFFFFF;
    margin: 1px;
    -webkit-transition: background-color ease 0.2s;
            transition: background-color ease 0.2s; }
    #search select:first-of-type {
      padding-left: 1em; }
    #search select:hover {
      background-color: #f2f2f2; }
  #search button {
    float: left;
    display: block;
    height: 3em;
    width: 3em;
    padding: 0 1em;
    background-color: #3E50B4;
    color: #FFFFFF;
    -webkit-transition: background-color ease 0.2s;
            transition: background-color ease 0.2s; }
  #search button:hover {
    background-color: #5668c5; }

#results {
  background-color: #FFFFFF;
  box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
  display: none;
  overflow: auto; }
  #results h2 {
    color: #3E50B4;
    font-size: 1.2em;
    padding: 0.8333333333em; }
  #results li {
    display: block; }
  #results .legend-item {
    padding: 0.5em 1em; }
  #results img {
    display: block;
    float: left;
    width: 1.6em;
    height: 1.6em; }
  #results ul {
    display: block;
    margin-bottom: 1.5em; }
    #results ul:last-of-type {
      margin-bottom: 0; }
  #results span {
    display: block;
    float: left;
    line-height: 1.6em;
    margin-left: 0.5em; }
  #results .location-info {
    height: 3em;
    overflow: hidden;
    -webkit-transition: height ease 0.2s;
            transition: height ease 0.2s; }
    #results .location-info .fa-angle-right {
      font-size: 1.2em;
      margin-top: -0.1em;
      margin-right: 0.3em;
      -webkit-transition: all ease 0.2s;
              transition: all ease 0.2s; }
    #results .location-info:hover {
      height: 7em; }
      #results .location-info:hover .fa-angle-right {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
  #results .location-name {
    cursor: pointer;
    padding: 1em;
    height: 3em; }
  #results .location-options {
    height: 4em; }
    #results .location-options button {
      float: left;
      width: 33.3333%;
      height: 4em;
      background-color: #f2f2f2;
      -webkit-transition: background-color ease 0.2s;
              transition: background-color ease 0.2s; }
      #results .location-options button i {
        font-size: 1.4em; }
      #results .location-options button:hover {
        background-color: #e6e6e6; }

.sidebar-container {
  padding: 0.5em 1.5em;
  background-color: #242f68;
  color: #FFFFFF; }
  .sidebar-container h2 {
    text-transform: uppercase;
    margin-top: 2.5em;
    margin-bottom: 1em; }
  .sidebar-container h2:first-of-type {
    margin-top: 0; }
  .sidebar-container a {
    color: #cccccc; }
  .sidebar-container button {
    width: 100%;
    height: 2em;
    padding: 0.4em;
    border: 1px solid #344496;
    -webkit-transition: background-color ease 0.2s;
            transition: background-color ease 0.2s;
    margin-bottom: 1.5em; }
    .sidebar-container button i {
      margin-right: 0.3em; }
  .sidebar-container button:hover, .sidebar-container button.active {
    background-color: #5668c5; }

.modal {
  position: relative;
  background-color: #FFFFFF;
  max-width: 30em; }
  .modal h2 {
    text-align: center;
    margin: 1em 1em 1.5em 1em;
    color: #3E50B4; }
  .modal .location-search-container {
    margin: 0 1.5em 1.5em 1.5em;
    width: calc( 100% - 3em);
    min-width: 20em; }
  .modal #location-search {
    font-size: 0.9em;
    width: 100%;
    display: block;
    background-color: #e6e6e6;
    height: 3em;
    padding: 0 0.5em; }
  .modal button {
    float: left;
    width: 50%;
    height: 2.6em;
    background-color: #e6e6e6;
    -webkit-transition: background-color ease 0.2s;
            transition: background-color ease 0.2s; }
    .modal button:hover {
      background-color: #cccccc; }

.visible {
  display: block !important;
  -webkit-animation: zoomIn ease 0.2s;
          animation: zoomIn ease 0.2s; }

.hidden {
  display: block !important;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: zoomOut ease 0.2s;
          animation: zoomOut ease 0.2s; }

.visible-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: zoomIn ease 0.2s;
          animation: zoomIn ease 0.2s; }

.hidden-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: zoomOut ease 0.2s;
          animation: zoomOut ease 0.2s; }

.panned {
  -webkit-transform: translateX(-16em);
      -ms-transform: translateX(-16em);
          transform: translateX(-16em);
  -webkit-animation: pan-left ease 0.2s;
          animation: pan-left ease 0.2s; }

.not-panned {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: pan-origin ease 0.2s;
          animation: pan-origin ease 0.2s; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  100% {
    opacity: 0; } }

@keyframes zoomOut {
  0% {
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  100% {
    opacity: 0; } }

@-webkit-keyframes scrollDown {
  0% {
    height: 0; }

  100% {
    height: 4em; } }

@keyframes scrollDown {
  0% {
    height: 0; }

  100% {
    height: 4em; } }

@-webkit-keyframes scrollUp {
  0% {
    height: 4em; }

  100% {
    height: 0; } }

@keyframes scrollUp {
  0% {
    height: 4em; }

  100% {
    height: 0; } }

@-webkit-keyframes pan-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-16em);
            transform: translateX(-16em); } }

@keyframes pan-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-16em);
            transform: translateX(-16em); } }

@-webkit-keyframes pan-origin {
  0% {
    -webkit-transform: translateX(-16em);
            transform: translateX(-16em); }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes pan-origin {
  0% {
    -webkit-transform: translateX(-16em);
            transform: translateX(-16em); }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

/* 
 *	Place the scss code for dom states here
 */