/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, button {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none; }

::-webkit-input-placeholder {
  line-height: normal; }

/* 
 * put your variables here
 */
.group:after, li, ul {
  content: "";
  display: table;
  clear: both; }

/* 
 *	Place the scss code for your mobile layout here
 */
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

header {
  position: relative;
  z-index: 999;
  background-color: #3E50B4;
  color: #FFFFFF;
  height: 3em;
  box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3); }

#map-canvas {
  position: absolute;
  top: 3em;
  bottom: 0;
  width: 100%;
  min-height: 20em; }

#search {
  position: absolute;
  width: 100%;
  top: 5em;
  z-index: 999; }

#results {
  position: absolute;
  top: 5em;
  right: 2em;
  width: 16em;
  max-height: calc(100% - 7em);
  z-index: 999; }

/* 
 *	Place the scss code for your tablet layout here
 */
@media only screen and (min-width: 40em) { }

/* 
 *	Place the scss code for your desktop layout here
 */
@media only screen and (min-width: 60em) { }

/* 
	Put every typographic related stuff (font, font sizes, line-height etc.) here.
*/
body {
  font-family: 'Roboto', sans-serif; }

/* 
 *	Place the scss code for your modules here
 */
header {
  padding: 0.5em 2em; }
  header h1 {
    float: left;
    font-size: 1.6em; }
    header h1 i {
      margin-right: 0.5em; }

.result-toggle {
  height: 2em;
  float: right;
  padding: 0.4em;
  border: 1px solid #344496; }
  .result-toggle i {
    margin-right: 0.5em; }

#search {
  text-align: center;
  font-size: 0.9em; }
  #search form {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #FFFFFF;
    color: #3E50B4;
    box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3);
    height: 3em; }
  #search input {
    color: inherit;
    float: left;
    display: block;
    height: 100%;
    width: 34em;
    padding-left: 1em;
    border: 1px solid #ffffff;
    transition: border-color 0.2s; }
    #search input:hover, #search input:focus {
      border-color: #3E50B4; }
  #search .search-options {
    height: 100%;
    position: absolute;
    right: 3em; }
  #search select {
    color: inherit;
    font: inherit;
    padding: 0;
    outline: 0;
    border: none;
    height: calc(100% - 2px);
    float: left;
    display: block;
    background-color: #FFFFFF;
    margin: 1px; }
    #search select:first-of-type {
      padding-left: 1em; }
  #search button {
    float: left;
    display: block;
    height: 3em;
    width: 3em;
    padding: 0 1em;
    background-color: #3E50B4;
    color: #FFFFFF; }

#results {
  background-color: #FFFFFF;
  box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
  display: none; }
  #results h2 {
    font-size: 1.2em;
    padding: 0.8333333333em; }
  #results li {
    display: block; }
  #results .legend-item {
    padding: 0.5em 1em; }
  #results img {
    display: block;
    float: left;
    width: 1.6em;
    height: 1.6em; }
  #results ul {
    display: block;
    margin-bottom: 1.5em; }
  #results span {
    display: block;
    float: left;
    line-height: 1.6em;
    margin-left: 0.5em; }
  #results .location-info {
    height: 3em;
    overflow: hidden;
    transition: height ease 0.2s; }
    #results .location-info .fa-angle-right {
      font-size: 1.2em;
      margin-top: -0.1em;
      margin-right: 0.3em;
      transition: all ease 0.2s; }
    #results .location-info:hover {
      height: 7em; }
      #results .location-info:hover .fa-angle-right {
        transform: rotate(90deg); }
  #results .location-name {
    cursor: pointer;
    padding: 1em;
    height: 3em; }
  #results .location-options {
    height: 4em; }
    #results .location-options button {
      float: left;
      width: 33.3333%;
      height: 4em;
      background-color: #f2f2f2;
      transition: background-color ease 0.2s; }
      #results .location-options button i {
        font-size: 1.4em; }
      #results .location-options button:hover {
        background-color: #e6e6e6; }

.visible {
  display: block !important;
  animation: zoomIn ease 0.2s; }

.hidden {
  display: block !important;
  opacity: 0;
  pointer-events: none;
  animation: zoomOut ease 0.2s; }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }

@keyframes zoomOut {
  0% {
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  100% {
    opacity: 0; } }

@keyframes scrollDown {
  0% {
    height: 0; }

  100% {
    height: 4em; } }

@keyframes scrollUp {
  0% {
    height: 4em; }

  100% {
    height: 0; } }

/* 
 *	Place the scss code for dom states here
 */