/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, button {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none; }

::-webkit-input-placeholder {
  line-height: normal; }

/* 
 * put your variables here
 */
.group:after {
  content: "";
  display: table;
  clear: both; }

/* 
 *	Place the scss code for your mobile layout here
 */
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

header {
  position: relative;
  z-index: 999;
  background-color: #3E50B4;
  color: #FFFFFF;
  height: 4em;
  box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3); }

#map-canvas {
  position: absolute;
  top: 4em;
  bottom: 0;
  width: 100%;
  min-height: 20em; }

#map-controls {
  font-size: 0.9em;
  position: relative;
  margin: 2em auto 0 auto;
  z-index: 999;
  text-align: center;
  height: 2.4em; }
  #map-controls form {
    position: relative;
    height: 100%;
    display: inline-block;
    text-align: left;
    background-color: #FFFFFF;
    color: #3E50B4;
    box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3); }
  #map-controls input {
    color: inherit;
    float: left;
    display: block;
    height: 100%;
    width: 34em;
    padding-left: 0.5em;
    border: 1px solid #ffffff;
    transition: border-color 0.2s; }
    #map-controls input:hover, #map-controls input:focus {
      border-color: #3E50B4; }
  #map-controls .search-options {
    height: 100%;
    position: absolute;
    right: 2.4em; }
  #map-controls select {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    height: 100%;
    float: left;
    display: block;
    background-color: transparent; }
  #map-controls button {
    float: left;
    display: block;
    height: 100%;
    padding: 0 0.8em;
    background-color: #3E50B4;
    color: #FFFFFF; }

/* 
 *	Place the scss code for your tablet layout here
 */
@media only screen and (min-width: 40em) { }

/* 
 *	Place the scss code for your desktop layout here
 */
@media only screen and (min-width: 60em) { }

/* 
	Put every typographic related stuff (font, font sizes, line-height etc.) here.
*/
body {
  font-family: 'Roboto', sans-serif; }

/* 
 *	Place the scss code for your modules here
 */
/* 
 *	Place the scss code for dom states here
 */