.visible {
	display: block !important;
	animation: zoomIn ease $anim_spd;
}
.hidden {
	display: block !important;
	opacity: 0;
	pointer-events: none;
	animation: zoomOut ease $anim_spd;
}

.visible-flex {
	display: flex;
	animation: zoomIn ease $anim_spd;
}
.hidden-flex {
	display: flex;
	opacity: 0;
	pointer-events: none;
	animation: zoomOut ease $anim_spd;
}

.panned {
	transform: translateX(-16em);
	animation: pan-left ease $anim_spd;
}

.not-panned {
	transform: translateX(0);
	animation: pan-origin ease $anim_spd;
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-ms-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}
@keyframes zoomOut {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-ms-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	100% {
		opacity: 0;
	}
}

@keyframes scrollDown {
	0% { height: 0;	}
	100% { height: 4em;	}
}
@keyframes scrollUp {
	0% { height: 4em; }
	100% { height: 0; }
}

@keyframes pan-left {
	0% { transform: translateX(0); }
	100% { transform: translateX(-16em); }
}
@keyframes pan-origin {
	0% { transform: translateX(-16em); }
	100% { transform: translateX(0); }
}

