/* 
 *	Place the scss code for your modules here
 */

header {
	padding: 0.5em 1.5em;
	h1 {
		float: left;
		font-size: 1.6em;
		i {
			margin-right: 0.5em;
		}
	}
}

.map-controls {
	float: right;

	button {
		height: 2em;
		float: left;
		padding: 0.4em;
		border: 1px solid darken($color_dark, 8%);
		transition: background-color ease $anim_spd;
	}

	button:hover, button.active {
		background-color: lighten($color_dark, 8%);
	}

	button:first-of-type {
		margin-right: 0.5em;
		i {	margin-right: 0.5em; }
	}

	button:last-of-type {
		padding: 0 0.5em;
	}
}

.release-info {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
	padding: 1em;
	background-color: $color_dark;
	color: $color_light;

	a {
		color: darken($color_light, 20%);
	}

	i {
		float: right;
		display: block;
		cursor: pointer;
		color: red;
	}
}