/* 
 *	Place the scss code for your modules here
 */

header {
	padding: 0.5em 2em;
	h1 {
		float: left;
		font-size: 1.6em;
		i {
			margin-right: 0.5em;
		}
	}
}

.result-toggle {
	height: 2em;
	float: right;
	padding: 0.4em;
	border: 1px solid darken($color_dark, 8%);

	i {
		margin-right: 0.5em;
	}
}