#results {
	background-color: $color_light;
	box-shadow: 0 0.1em 0.8em 0 rgba(0, 0, 0, 0.3);
	font-size: 0.9em;
	display: none;
	overflow: auto;

	h2 {
		color: $color_dark;
		font-size: 1.2em;
		padding: 0.8333333333em;
	}

	li {
		display: block;
	}

	.legend-item {
		padding: 0.5em 1em;
	}

	img {
		display: block;
		float: left;
		width: 1.6em;
		height: 1.6em;
	}

	ul {
		display: block;
		margin-bottom: 1.5em;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	span {
		display: block;
		float: left;
		line-height: 1.6em;
		margin-left: 0.5em;
	}

	.location-info {
		height: 3em;
		overflow: hidden;
		transition: height ease $anim_spd;
		.fa-angle-right {
			font-size: 1.2em;
			margin-top: -0.1em;
			margin-right: 0.3em;
			transition: all ease $anim_spd;
		}

		&:hover {
			.fa-angle-right {
				transform: rotate(90deg);
			}
			height: 7em;
		}
	}

	.location-name {
		cursor: pointer;
		padding: 1em;
		height: 3em;
	}

	.location-options {
		height: 4em;

		button {
			float: left;
			width: 33.3333%;
			height: 4em;
			background-color: darken($color_light, 5%);
			transition: background-color ease $anim_spd;

			i {
				font-size: 1.4em;
			}

			&:hover {
				background-color: darken($color_light, 10%);
			}
		}
	}
}