.sidebar-container {
	padding: 0.5em 1.5em;
	background-color: darken($color_dark, 20%);
	color: $color_light;

	h2 {
		text-transform: uppercase;
		margin-top: 2.5em;
		margin-bottom: 1em;
	}

	h2:first-of-type {
		margin-top: 0;
	}

	a {
		color: darken($color_light, 20%);
	}

	button {
		width: 100%;
		height: 2em;
		padding: 0.4em;
		border: 1px solid darken($color_dark, 8%);
		transition: background-color ease $anim_spd;
		margin-bottom: 1.5em;

		i { margin-right: 0.3em }
	}

	button:hover, button.active {
		background-color: lighten($color_dark, 8%);
	}
}