<!DOCTYPE html>
<html lang="de" ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>mean stack template</title>
		
	<meta name="description" content="" />
		
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- build:css css/styles.min.css -->
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	<script src="//127.0.0.1:35729/livereload.js"></script>
	<!-- endbuild -->

</head>
 
<body ng-controller="AppController">
	<div ng-controller="SidebarController" class="sidebar-container">
		<button ng-class="{active: $parent.showModal}" ng-click="$parent.toggleModal()">
			<i class="fa fa-plus"></i>Standort hinzufügen
		</button>
		<h2>Idee</h2>
		Laura Werny
		<h2>Design & Programmierung</h2>
		Swen Gorschewski <br />
		<a href="http://www.pixelforyou.de">pixelforyou.de</a>
		<h2>Kontakt</h2>
		projects@pixelforyou.de
		<h2>Github</h2>
		<a href="https://github.com/swendev/recycling-finder">RecyclingFinder auf Github</a>
	</div>
	<div ng-controller="MapController" class="map-container" ng-class="{true:'panned', false:'not-panned'}[showSideBar]">
		<div class="release-info" ng-class="{true:'visible', false:'hidden'}[showReleaseInfo]">
			Beta Version. Bitte Fehler auf <a href="https://github.com/swendev/recycling-finder/issues">github</a> berichten. Derzeit gibt es nur Einträge für Oldenburg(Oldb).
			<i class="fa fa-times" ng-click="showReleaseInfo = !showReleaseInfo"></i>
		</div>
		<header>
			<h1><i class="fa fa-thumb-tack"></i>RecyclingFinder</h1>
			<div class="map-controls">
				<button ng-class="{active: showLocations}" ng-click="showLocations = !showLocations"><i class="fa fa-list"></i>Ergebnisse</button>
				<button ng-class="{active: showSideBar}" ng-click="showSideBar = !showSideBar"><i class="fa fa-bars"></i></button>
			</div>
		</header>

		<div id="search">
			<form>
				<input id="map-search" type="text" placeholder="search" />
				<div class="search-options">
					<select
							name="searchDistance"
							id="searchDistance"
							ng-model="searchDistance"
							ng-options="searchDistance.text for searchDistance in searchDistances track by searchDistance.value"
							ng-change="search()">
					</select>

					<select
							name="searchType"
							id="searchType"
							ng-model="searchType"
							ng-options="searchType.text for searchType in searchTypes track by searchType.value"
							ng-change="search()">
					</select>
				</div>
				<button id="submit" ng-click="search()">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
		<div id="results" ng-class="{true:'visible', false:'hidden'}[showLocations]">
			<h2>Legende</h2>
			<ul>
				<li ng-repeat="searchType in searchTypes">
					<div class="legend-item">
						<img ng-src="img/svg/{{searchType.value}}.svg" alt=""/><span>{{ searchType.text }}</span>
					</div>
				</li>
			</ul>
			<h2>Ergebnisse</h2>
			<ul>
				<li class="location-info" ng-repeat="location in locations">
					<div class="location-name"><i class="fa fa-angle-right"></i>{{ location.name }} - {{ location.distance | number:0}}m</div>
					<div class="location-options">
						<button ng-click="createRoute(location)"><i class="fa fa-map-marker"></i></button>
						<button class="middle"><i class="fa fa-thumbs-o-up"></i></button>
						<button><i class="fa fa-thumbs-o-down"></i></button>
					</div>
				</li>
			</ul>
		</div>
		<div id="map-canvas"></div>
	</div>

	<div ng-controller="ModalController" class="overlay" ng-class="{true:'visible-flex', false:'hidden-flex'}[$parent.showModal]">
		<div class="modal">
			<h2>Standort hinzufügen</h2>
			<div class="location-search-container">
				<input id="location-search" ng-model="formData.input" type="search" placeholder="Adresse"/>
			</div>
			<div class="checkbox">
				<label ng-repeat="searchType in searchTypes">
					<input type="checkbox" name="awesome" ng-model="searchType.isChecked">
					{{ searchType.text }}
				</label>
			</div>
			<button ng-click="addRecyclingLoc()">Abschicken</button>
			<button ng-click="$parent.toggleModal()">Abbrechen</button>
		</div>
	</div>

	<!-- ######################## javascript ######################## -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDmfMkdKoHPUCyO-xMYOSOy5tGq17yTnG4&sensor=FALSE&libraries=places">
	</script>
	<!-- build:js https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
	<!-- endbuild -->
	<!-- build:js https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
	<!-- endbuild -->

	<!-- build:js js/app.min.js -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/app-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/map-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/sidebar-ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/modal-ctrl.js"></script>
	<script type="text/javascript" src="js/factories/geo-api-factory.js"></script>
	<script type="text/javascript" src="js/factories/map-factory.js"></script>
	<!-- endbuild -->

</body>
</html>